*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: row;
}


.first_section{
    width: 70%;
    background-color: white;
}

.second_section{
    width: 30%;
    background-color: purple;
}